* {
    margin:0%
    
}
header {
    background-color: cadetblue;
    Height: 200px;
    width:100%;
}
.avatar{
    border-radius: 50%;
    padding: 10px
} 
.head {
    display:inline-flex;
    justify-content:space-between;
    background-color: cadetblue;
    Height: 200px;
    width:100%; 
}
.header h1 {
    font-size: 50px;
    width:500px;
    padding: 10px;  
} 
header ul {
    display:flex;
    font-size: 30px;
    width: 600px; 
}
.head li{
    padding: 10px;
}
    
.image {
    position: relative;
    text-align: center;
    color: black;
}
.Offwork {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 25px;
    font-family: cursive;
}
.main {
    flex-grow: 1;
    width: 100%;
    display:flex;
    flex-direction: column;
}
.aboutMe {
    display:inline-flex;
    justify-content: space-between;
}
.aboutMe p {
    width: 70%;
    background-color: white;
    padding:20px 10px;
}

h3 {
    width:25%;
    font-size: 30px;
    border-right: solid black 3px;
    padding:20px;
    margin: 20px;
}
.work { 
    display:inline-flex;
    justify-content: space-between;
}
.item li {
    background-color: white;
    width: 50%;
    padding:20px;
    margin: opx 10px 0px 0px;
}
.work  ul{ 
    width:70%;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;   
}
.item {
    width:70%;
    display:inline-flex;
    flex-wrap:wrap;
}
/*
#image1 { 
    width: 100%;
    Height:300px;
    padding: 20px;
}
*/
.container {
    position: relative;
    text-align: center;
    color: white;
    
  }
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: black;
    width:60px;
  }
  .contact {
    display:inline-flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact ul {
    padding: 20px 10px 0px 40px;

}
.contact li {
    padding:10px;
}
.contact-me-list {
    width: 70%;
    display:inline-flex;
    justify-content:space-evenly;
    align-content:start;
}











.App1 {
    Position:absolute;
    bottom: 2px;
    right: 30px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 992px) {
    .card {
      width: 50%}
  }
  
@media screen and (max-width: 768px) {
    .card {
      width: 100%}
    }