* {
    margin:0%
    
}
  
header {
    display:inline-flex;
    justify-content:space-between;
    background-color: cadetblue;
    Height: 20%;
    width:100%;

    
}
   
.header h1 {
    font-size: 50px;
    width:500px;
    padding:40px 10px 10px;
    
}
   
header ul {
    display:flex;
    font-size: 30px;
    width: 800px;
    padding:40px 10px 10px;
}

.header li{
    padding: 10px;
}
    
.image {
    position: relative;
    text-align: center;
    color: black;
}

.Offwork {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 25px;
    font-family: cursive;
}

.aboutMe {
    display:inline-flex;
    justify-content: space-between;
}

.work { 
    display:inline-flex;
    justify-content: space-between;
}

.contact {
    display:inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutMe p {
    width: 70%;
    background-color: white;
    padding:20px 10px;
}

h3 {
    width:25%;
    font-size: 30px;
    border-right: solid black 3px;
    padding:20px;
    margin: 20px;
}

.main {
    flex-grow: 1;
    width: 100%;
    display:flex;
    flex-direction: column;
}


.contact ul {
    padding: 20px 10px 0px 40px;

}
.contact li {
    padding:10px;
}
.work  ul{ 
    width:70%;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

.item {
    width:70%;
    display:inline-flex;
    flex-wrap:wrap;

}

.contact-me-list {
    width: 70%;
    display:inline-flex;
    justify-content:space-evenly;
    align-content:start;
}

.item li {
    background-color: blueviolet;
    width: 50%;
}
#image1 { 
    width: 100%;
    aspect-ratio:4;
    overflow: hidden;
}

